<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <div admin-sidebar class="sidebar sidebar-main sidebar-default sidebar-fixed">
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Features</h5>
                                <div class="heading-elements">
                                        <a ui-sref="admin-feature-add"  class="btn btn-xs btn-info heading-btn">Add New Feature</a>
                                    </div>
                            </div>
                            <div class="panel-body">

                                

                        <div class="table-responsive">
                            <table class="table table-xxs table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Category</th>
                                        <th>Actions</th>            
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="feature in features">
                                        <td>{{feature.id}}</td>
                                        <td>{{feature.name}}</td>
                                        <td>${{feature.price}}</td>
                                        <td>{{getNamebyId(feature.catid)}}</td>
                                        <td>
                                            <a ui-sref="admin-feature-edit({featureId:feature.id})" class="mr-2" href="" data-popup="tooltip" title="Edit" data-placement="left"><i class="icon-pencil"></i></a>
                                            <a ng-click="deleteFeature(feature.id)" href="" data-popup="tooltip" title="Delete" data-placement="left"><i class="icon-trash-alt"></i></a></td>

                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>