<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <div admin-sidebar class="sidebar sidebar-main sidebar-default sidebar-fixed">
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Edit Package Option #{{id}}</h5>

                            </div>
                            <div class="panel-body">
                                
                                
                                
                                
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Description</label>
                                        <div class="col-lg-10">
                                            <input ng-model="description" type="text" class="form-control" placeholder="Description">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-2"></div>
                                       <button ng-click="updateOption()" type="button" class="btn btn-info  legitRipple"><i class=" icon-floppy-disk position-left"></i> Save & Update</button>
                                              <button ng-click="deleteOption(id)" type="button" class="btn btn-danger  legitRipple"><i class=" icon-trash position-left"></i> Delete</button>
                                    </div>
                                </div>
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>