<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <div admin-sidebar class="sidebar sidebar-main sidebar-default sidebar-fixed">
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Add New Package Option</h4>
                            </div>
                            <div class="panel-body">
                                
                                
                                
                                
                                <div class="form-horizontal">

                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Description</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" placeholder="Description">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-10">
                                            <button type="button" class="btn btn-info  legitRipple"><i class=" icon-plus22 position-left"></i> Add Option</button>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>