<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <div admin-sidebar class="sidebar sidebar-main sidebar-default sidebar-fixed">
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Add New User</h4>
                            </div>
                            <div class="panel-body">
                                
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Name</label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Email</label>
                                        <div class="col-lg-10">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Password</label>
                                        <div class="col-lg-10">
                                            <input type="password" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="control-label col-lg-2">Group</label>
                                        <div class="col-lg-10">
                                            <select class="bootstrap-select" data-width="50%">
                                                <option>User Group</option>
                                                <option>User Group</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Status</label>
                                        <div class="col-lg-10">
                                            <label class="radio-inline">
                                                <input type="radio" name="status" checked="checked">
                                                Enabled
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="status" >
                                                Disabled
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-10">
                                            <button type="button" class="btn btn-info  legitRipple"><i class=" icon-plus22 position-left"></i> Add User</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>