<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <div admin-sidebar class="sidebar sidebar-main sidebar-default sidebar-fixed">
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Users</h4>
                                <div class="heading-elements">
                                        <a ui-sref="admin-users-add"  class="btn btn-xs btn-info heading-btn">Add New User</a>
                                    </div>
                            </div>
                            <div class="panel-body">
                                

                        <div class="table-responsive">
                            <table class="table table-xxs table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Member of</th>
                                        <th>Status</th>
                                        <th>Actions</th>            

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in users | orderBy:'-id'">
                                        <td>{{user.id}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{getNamebyId(user.userGroupID)}}</td>
                                        <td><span ng-if=" user.status > 0 ">Active</span><span ng-if="!user.status || user.status == 0">Inactive</span></td>
                                        <td>
                                            <a ui-sref="admin-users-edit({userId:user.id})" class="mr-2" href="" data-popup="tooltip" title="Edit" data-placement="left"><i class="icon-pencil"></i></a>
                                            <a ng-click="deleteUser(user.id);" href="" data-popup="tooltip" title="Delete" data-placement="left"><i class="icon-trash-alt"></i></a></td>

                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>