<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <div admin-sidebar class="sidebar sidebar-main sidebar-default sidebar-fixed">
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Add New User</h4>

                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>