<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <div admin-sidebar class="sidebar sidebar-main sidebar-default sidebar-fixed">
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">User Groups</h4>
                                <div class="heading-elements">
                                        <a ui-sref="admin-user-groups-add"  class="btn btn-xs btn-info heading-btn">Add New Group</a>
                                    </div>
                            </div>
                            <div class="panel-body">
                                

                        <div class="table-responsive">
                            <table class="table table-xxs table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-xs-1">#</th>
                                        <th class="col-xs-7">Name</th>
                                        <th class="col-xs-2">Status</th>
                                        <th class="col-xs-2">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-xs-1">1</td>
                                        <td class="col-xs-7">Eugene</td>
                                        <td class="col-xs-2">Kopyov</td>
                                          <td class="col-xs-2">
                                            <a ui-sref="admin-user-groups-edit({groupId:1})" class="mr-2" href="" data-popup="tooltip" title="Edit" data-placement="left"><i class="icon-pencil"></i></a>
                                            <a href="" data-popup="tooltip" title="Delete" data-placement="left"><i class="icon-trash-alt"></i></a></td>
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>