<div class="home-bg"></div>
<div class="container-fluid home">
    <h1>We bring your ideas to life</h1>
    <p class="mx-auto">We convert your design concepts into high-quality HTML5 + CSS3 coded along with JavaScript by the best front-end developers in the industry.</p>
    <a class="mx-auto hvr-sweep-to-top" ui-sref="step-1">Get Started Now</a>
    <div class="scrnshts"></div>
</div>
<div class="container-fluid bg-white padding100 whyp2l">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <h2>Why PSD2Live is the best solution for you?</h2>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a ui-sref="our-team" class="hvr-sweep-to-right"><i class="team-icon"></i>Our Team</a>
            </div>
            <div class="col col-md-6">
                <div class="col why-item">
                    <div class="why-icon"><i class="icon-1"></i></div>
                    <h3>Extremely Fast</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="w-100"></div>
                <div class="col why-item">
                    <div class="why-icon"><i class="icon-2"></i></div>
                    <h3>Unbeatable Pricing</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div class="w-100"></div>
                <div class="col why-item">
                    <div class="why-icon"><i class="icon-3"></i></div>
                    <h3>Rockstar Team</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padding100 packages no-gutters">
    <div class="container">
        <div class="row">
            <div class="col-4 package">
                <div class="price mx-auto">
                    <span class="pre">Starting From</span>
                    <p>$<span>49</span></p>
                </div>
                <h4 class="package-name">Basic</h4>
                <ul class="package-options">
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li class="disable">Lorem Ipsum is simply dummy text</li>
                    <li class="disable">Lorem Ipsum is simply dummy text</li>
                    <li class="disable">Lorem Ipsum is simply dummy text</li>
                </ul>
                <a ui-sref="step-1" class="startnow hvr-sweep-to-right">Start a Project</a>
            </div>
            <div class="col-4 package">
                <div class="price mx-auto">
                    <span class="pre">Starting From</span>
                    <p>$<span>79</span></p>
                </div>
                <h4 class="package-name">Premium</h4>
                <ul class="package-options">
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li class="disable">Lorem Ipsum is simply dummy text</li>
                    <li class="disable">Lorem Ipsum is simply dummy text</li>
                </ul>
                <a ui-sref="step-1" class="startnow hvr-sweep-to-right">Start a Project</a>
            </div>
            <div class="col-4 package">
                <div class="price mx-auto">
                    <span class="pre">Starting From</span>
                    <p>$<span>99</span></p>
                </div>
                <h4 class="package-name">Ultimate</h4>
                <ul class="package-options">
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                    <li>Lorem Ipsum is simply dummy text</li>
                </ul>
                <a ui-sref="step-1" class="startnow hvr-sweep-to-right">Start a Project</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-white padding100 howitworks">
    <h2>How It Works</h2>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4">
                <div class="items item-1">
                    <h4>1. Upload</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-4">
                <div class="howitimage"></div>
            </div>
            <div class="col-4">
                <div class="items item-2">
                    <h4>2. Quote</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-4">
                <div class="items item-4">
                    <h4>4. Delivery</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-4 offset-md-4">
                <div class="items item-3">
                    <h4>3. Development</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid stats">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="number">+20</span>
                <span class="title">Professionals</span>
            </div>
            <div class="col">
                <span class="number">+1000</span>
                <span class="title">Projects Done</span>
            </div>
            <div class="col">
                <span class="number">+500</span>
                <span class="title">Happy Clients</span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid request">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <h2>request a quote</h2>
                <div class="form-content">
                    <p>Fixed price covers pages that take 10 hours of development max. Quotes are based on a rate of $35 - $45 / hour depending on the complexity of the project and the skills required to accomplish it.</p>
                    <form>
                        <div class="form-group name">
                            <input class="col-12" type="text" placeholder="Name" />
                        </div>
                        <div class="form-group email">
                            <input class="col-12" type="text" placeholder="Email" />
                        </div>
                        <div class="form-group notes">
                            <textarea class="col-12" placeholder="Notes / Project brief"></textarea>
                        </div>
                        <div class="form-group file">
                            <input type="file" />
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                            <span>Upload Files</span>
                        </div>
                        <input class="col-12" type="submit" value="Get a Free Quote" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
