
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div  dashboard-sidebar class="sidebar sidebar-main sidebar-default sidebar-fixed">

            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    <div class="row">
                    	<div class="col-sm-6">


                                <div class="content-group">
                                    <div class="panel-body bg-blue border-radius-top text-center" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); background-size: contain;">
                                        <div class="content-group-sm">
                                            <h5 class="text-semibold no-margin-bottom">
											Mamo YZ
										</h5>
                                        </div>
                                        <a href="#" class="display-inline-block content-group-sm">
										<img src="assets/images/placeholder.jpg" class="img-circle img-responsive" alt="" style="width: 120px; height: 120px;">
									</a>
                                        <h6 class="no-margin">
                                            	<a class="text-white" href="#">
					                    <i class="icon-cog6 position-left"></i> <u>Update My Profile</u></a>
				                    </h6>
                                    </div>
                                    <div class="panel panel-body no-border-top no-border-radius-top">
                                        <div class="form-group mt-5">
                                            <label class="text-semibold">Full name:</label>
                                            <span class="pull-right-sm">Mamo YZ</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-semibold">Phone number:</label>
                                            <span class="pull-right-sm">+90 541 000 0000</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-semibold">Email:</label>
                                            <span class="pull-right-sm">yzmamo@gmail.com</span>
                                        </div>
                                        <div class="form-group no-margin-bottom">
                                            <label class="text-semibold">Billing Address:</label>
                                            <span class="pull-right-sm">Shahnaz St. Tabriz, Iran</span>
                                        </div>
                                    </div>
                                </div>
                            
                    	</div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-flat">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">Latest Updates<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                                            <div class="heading-elements">
                                                <a href="#" class="heading-text">See all →</a>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="list-feed">
                                                <li class="border-warning-400">
                                                    Status update on project <a href="#">1 Page Parallax Landing Page </a>
                                                    <div class="text-muted text-size-small mt-5">12 minutes ago</div>
                                                </li>
                                                <li class="border-warning-400">
                                                    Payment received for project <a href="#">Wordpress Theme Customization</a>
                                                    <div class="text-muted text-size-small mt-5">2 hours ago</div>
                                                </li>
                                                <li class="border-warning-400">
                                                    An invoice created for project <a href="#">Wordpress Theme Customization</a>
                                                    <div class="text-muted text-size-small mt-5">8 hours ago</div>
                                                </li>
                                                <li class="border-warning-400">
                                                    New quote for your project <a href="#">Wordpress Theme Customization</a>
                                                    <div class="text-muted text-size-small mt-5">1 day ago</div>
                                                </li>
                                                <li class="border-warning-400">
                                                    You submitted a quote for <a href="#">Wordpress Theme Customization</a>
                                                    <div class="text-muted text-size-small mt-5">2 days ago</div>
                                                </li>
                                                <li class="border-warning-400">
                                                    Status update on project <a href="#">Angular 2 Web App (SPA)</a>
                                                    <div class="text-muted text-size-small mt-5">1 week ago</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="panel panel-white">
						<div class="panel-heading">
							<h6 class="panel-title">Latest Messages</h6>

							<div class="heading-elements not-collapsible">
								<span class="label bg-blue heading-text">2 Unread</span>
		                	</div>
						</div>

						

						<div class="table-responsive">
							<table class="table table-inbox">
								<tbody data-link="row" class="rowlink">
									
									<tr class="unread">
										<td class="table-inbox-checkbox rowlink-skip">
											<input type="checkbox" class="styled">
										</td>
										<td class="table-inbox-star rowlink-skip">
											
										</td>
										<td class="table-inbox-image">
											<span class="btn bg-warning-400 btn-rounded btn-icon btn-xs">
												<span class="letter-icon"></span>
											</span>
										</td>
										<td class="table-inbox-name">
											<a href="#">
												<div class="letter-icon-title text-default">Keyhan A.</div>
											</a>
										</td>
										<td class="table-inbox-message">
											<div class="table-inbox-subject">Wordpress Theme Customization</div>
											<span class="table-inbox-preview">And one of the boats (presumed to contain the missing leg in all its original integrity) is being crunched by the jaws of the foremost whale</span>
										</td>
									
										<td class="table-inbox-time">
											10:21 pm
										</td>
									</tr>
<tr class="unread">
										<td class="table-inbox-checkbox rowlink-skip">
											<input type="checkbox" class="styled">
										</td>
										<td class="table-inbox-star rowlink-skip">
											
										</td>
										<td class="table-inbox-image">
											<span class="btn bg-warning-400 btn-rounded btn-icon btn-xs">
												<span class="letter-icon"></span>
											</span>
										</td>
										<td class="table-inbox-name">
											<a href="#">
												<div class="letter-icon-title text-default">Keyhan A.</div>
											</a>
										</td>
										<td class="table-inbox-message">
											<div class="table-inbox-subject">Wordpress Theme Customization</div>
											<span class="table-inbox-preview">And one of the boats (presumed to contain the missing leg in all its original integrity) is being crunched by the jaws of the foremost whale</span>
										</td>
									
										<td class="table-inbox-time">
											10:21 pm
										</td>
									</tr>

									

									<tr>
										<td class="table-inbox-checkbox rowlink-skip">
											<input type="checkbox" class="styled">
										</td>
										<td class="table-inbox-star rowlink-skip">
											
										</td>
										<td class="table-inbox-image">
											<span class="btn bg-indigo-400 btn-rounded btn-icon btn-xs">
												<span class="letter-icon"></span>
											</span>
										</td>
										<td class="table-inbox-name">
											<a href="#">
												<div class="letter-icon-title text-default">Mamo YZ</div>
											</a>
										</td>
										<td class="table-inbox-message">
											<div class="table-inbox-subject">	1 Page Parallax Landing Page</div>
											<span class="table-inbox-preview">and Sag Harbor, you will come across lively sketches of whales and whaling-scenes, graven by the fishermen themselves on Sperm Whale-teeth, or ladies' busks wrought out of the Right Whale-bone</span>
										</td>
										<td class="table-inbox-time">
											4:28 am
										</td>
									</tr>

									<tr>
										<td class="table-inbox-checkbox rowlink-skip">
											<input type="checkbox" class="styled">
										</td>
										<td class="table-inbox-star rowlink-skip">
											
										</td>
										<td class="table-inbox-image">
											<span class="btn bg-indigo-400 btn-rounded btn-icon btn-xs">
												<span class="letter-icon"></span>
											</span>
										</td>
										<td class="table-inbox-name">
											<a href="#">
												<div class="letter-icon-title text-default">Mamo YZ</div>
											</a>
										</td>
										<td class="table-inbox-message">
											<div class="table-inbox-subject">	1 Page Parallax Landing Page</div>
											<span class="table-inbox-preview">and Sag Harbor, you will come across lively sketches of whales and whaling-scenes, graven by the fishermen themselves on Sperm Whale-teeth, or ladies' busks wrought out of the Right Whale-bone</span>
										</td>
										<td class="table-inbox-time">
											4:28 am
										</td>
									</tr>

									<tr>
										<td class="table-inbox-checkbox rowlink-skip">
											<input type="checkbox" class="styled">
										</td>
										<td class="table-inbox-star rowlink-skip">
											
										</td>
										<td class="table-inbox-image">
											<span class="btn bg-indigo-400 btn-rounded btn-icon btn-xs">
												<span class="letter-icon"></span>
											</span>
										</td>
										<td class="table-inbox-name">
											<a href="#">
												<div class="letter-icon-title text-default">Mamo YZ</div>
											</a>
										</td>
										<td class="table-inbox-message">
											<div class="table-inbox-subject">	1 Page Parallax Landing Page</div>
											<span class="table-inbox-preview">and Sag Harbor, you will come across lively sketches of whales and whaling-scenes, graven by the fishermen themselves on Sperm Whale-teeth, or ladies' busks wrought out of the Right Whale-bone</span>
										</td>
										<td class="table-inbox-time">
											4:28 am
										</td>
									</tr>

									<tr>
										<td class="table-inbox-checkbox rowlink-skip">
											<input type="checkbox" class="styled">
										</td>
										<td class="table-inbox-star rowlink-skip">
											
										</td>
										<td class="table-inbox-image">
											<span class="btn bg-indigo-400 btn-rounded btn-icon btn-xs">
												<span class="letter-icon"></span>
											</span>
										</td>
										<td class="table-inbox-name">
											<a href="#">
												<div class="letter-icon-title text-default">Mamo YZ</div>
											</a>
										</td>
										<td class="table-inbox-message">
											<div class="table-inbox-subject">	1 Page Parallax Landing Page</div>
											<span class="table-inbox-preview">and Sag Harbor, you will come across lively sketches of whales and whaling-scenes, graven by the fishermen themselves on Sperm Whale-teeth, or ladies' busks wrought out of the Right Whale-bone</span>
										</td>
										<td class="table-inbox-time">
											4:28 am
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h5 class="panel-title">My Projects</h5>
                                </div>
                                <div class="panel-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                                                        <table class="table datatable-basic togglable">
                                    <thead>
                                        <tr>
                                            <th>Project No.</th>
                                            <th>Title</th>
                                            <th>Status</th>
                                            <th>Progress</th>
                                            <th>Updated on</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#P2L0495</td>
                                            <td><a href="project-single.html">Wordpress Theme Customization</a></td>
                                            <td><span class="label border-left-info label-striped">Ongoing Development</span></td>
                                            <td><span class="badge bg-info">45%</span></td>
                                            <td>12/08/2017 - 22:56</td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-arrow-right8"></i> Go to Project</a></li>
                                                            <li><a href="#"><i class="icon-envelope"></i> Open Messages</a></li>
                                                            <li><a href="#"><i class="icon-coin-dollar"></i> View Invoices</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#P2L0501</td>
                                            <td><a href="project-single.html">1 Page Parallax Landing Page</a></td>
                                            <td><span class="label border-left-grey label-striped">Awaiting Quote</span></td>
                                            <td><span class="badge bg-grey">0%</span></td>
                                            <td>12/08/2017 - 22:56</td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-arrow-right8"></i> Go to Project</a></li>
                                                            <li><a href="#"><i class="icon-envelope"></i> Open Messages</a></li>
                                                            <li><a href="#"><i class="icon-coin-dollar"></i> View Invoices</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#P2L0644</td>
                                            <td><a href="project-single.html">Angular 2 Web App (SPA)</a></td>
                                            <td><span class="label border-left-grey label-striped">Awaiting Payment</span></td>
                                            <td><span class="badge bg-grey">0%</span></td>
                                            <td>12/08/2017 - 22:56</td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-arrow-right8"></i> Go to Project</a></li>
                                                            <li><a href="#"><i class="icon-envelope"></i> Open Messages</a></li>
                                                            <li><a href="#"><i class="icon-coin-dollar"></i> View Invoices</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#P2L0334</td>
                                            <td>
                                                <a class="text-grey" href="project-single.html">
                                                    <del>4 Pages Personal Website</del>
                                                </a>
                                            </td>
                                            <td><span class="label border-left-danger label-striped">Canceled (Dispute)</span></td>
                                            <td><i class="icon-minus2 text-grey"></i></td>
                                            <td>12/08/2017 - 22:56</td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-arrow-right8"></i> Go to Project</a></li>
                                                            <li><a href="#"><i class="icon-envelope"></i> Open Messages</a></li>
                                                            <li><a href="#"><i class="icon-coin-dollar"></i> View Invoices</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#P2L0246</td>
                                            <td><a href="project-single.html">Healthcare Company Landing Page (Joomla)</a></td>
                                            <td><span class="label border-left-success label-striped">Completed</span></td>
                                            <td><span class="badge bg-success">100%</span></td>
                                            <td>12/08/2017 - 22:56</td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-arrow-right8"></i> Go to Project</a></li>
                                                            <li><a href="#"><i class="icon-envelope"></i> Open Messages</a></li>
                                                            <li><a href="#"><i class="icon-coin-dollar"></i> View Invoices</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
