
    <div class="user-sign-page">
        <a ui-sref="home" class="backtohome"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to PSD2Live Home</a>
        <h2>User Login</h2>
        <div class="container user-sign-container">
            <div class="row no-gutters">
                <div class="col-12 col-md-6 left">
                    <div class="logo"></div>
                    <span class="sign-des">Please enter your email address</span>
                    <div class="sign-input">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <input type="text" placeholder="Email Address" />
                    </div>
                    <button   ui-href="user-signup" class="sign-btn cyan">Log In <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    <span class="sign-suggest cyan">Don't have an account?<span ui-sref="user-signup">Create an account</span></span>

                </div>
                <div class="col-12 col-md-6 right">
                    <h3>What is Lorem Ipsum?</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <ul class="sign-nav" auth-navigation></ul>
    </div>
