
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
          <div  dashboard-sidebar class="sidebar sidebar-main sidebar-default sidebar-fixed">

            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h5 class="panel-title">My Projects</h5>
                                </div>
                                <div class="panel-body">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                </div>
                                <table class="table datatable-basic togglable">
                                    <thead>
                                        <tr>
                                            <th>Project No.</th>
                                            <th>Title</th>
                                            <th>Status</th>
                                            <th>Progress</th>
                                            <th>Updated on</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>#P2L0495</td>
                                            <td><a href="project-single.html">Wordpress Theme Customization</a></td>
                                            <td><span class="label border-left-info label-striped">Ongoing Development</span></td>
                                            <td><span class="badge bg-info">45%</span></td>
                                            <td>12/08/2017 - 22:56</td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-arrow-right8"></i> Go to Project</a></li>
                                                            <li><a href="#"><i class="icon-envelope"></i> Open Messages</a></li>
                                                            <li><a href="#"><i class="icon-coin-dollar"></i> View Invoices</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#P2L0501</td>
                                            <td><a href="project-single.html">1 Page Parallax Landing Page</a></td>
                                            <td><span class="label border-left-grey label-striped">Awaiting Quote</span></td>
                                            <td><span class="badge bg-grey">0%</span></td>
                                            <td>12/08/2017 - 22:56</td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-arrow-right8"></i> Go to Project</a></li>
                                                            <li><a href="#"><i class="icon-envelope"></i> Open Messages</a></li>
                                                            <li><a href="#"><i class="icon-coin-dollar"></i> View Invoices</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#P2L0644</td>
                                            <td><a href="project-single.html">Angular 2 Web App (SPA)</a></td>
                                            <td><span class="label border-left-grey label-striped">Awaiting Payment</span></td>
                                            <td><span class="badge bg-grey">0%</span></td>
                                            <td>12/08/2017 - 22:56</td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-arrow-right8"></i> Go to Project</a></li>
                                                            <li><a href="#"><i class="icon-envelope"></i> Open Messages</a></li>
                                                            <li><a href="#"><i class="icon-coin-dollar"></i> View Invoices</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#P2L0334</td>
                                            <td>
                                                <a class="text-grey" href="project-single.html">
                                                    <del>4 Pages Personal Website</del>
                                                </a>
                                            </td>
                                            <td><span class="label border-left-danger label-striped">Canceled (Dispute)</span></td>
                                            <td><i class="icon-minus2 text-grey"></i></td>
                                            <td>12/08/2017 - 22:56</td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-arrow-right8"></i> Go to Project</a></li>
                                                            <li><a href="#"><i class="icon-envelope"></i> Open Messages</a></li>
                                                            <li><a href="#"><i class="icon-coin-dollar"></i> View Invoices</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>#P2L0246</td>
                                            <td><a href="project-single.html">Healthcare Company Landing Page (Joomla)</a></td>
                                            <td><span class="label border-left-success label-striped">Completed</span></td>
                                            <td><span class="badge bg-success">100%</span></td>
                                            <td>12/08/2017 - 22:56</td>
                                            <td class="text-center">
                                                <ul class="icons-list">
                                                    <li class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu9"></i>
                                                </a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="#"><i class="icon-arrow-right8"></i> Go to Project</a></li>
                                                            <li><a href="#"><i class="icon-envelope"></i> Open Messages</a></li>
                                                            <li><a href="#"><i class="icon-coin-dollar"></i> View Invoices</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
