<!doctype html>
<html class="no-js" lang="">
<!--
       __________      ________      ___     
      |          \    /   __   \    |   |   
      |    _____  \  /___/  \   \   |   |   
      |   |     \  \         )   )  |   |    
      |   |     )  )        /    /  |   |    
      |   |     )  )       /    /   |   |   
      |   |____/  /       /    /    |   |  
      |    ______/       /    /     |   | 
      |   |             /    /      |   |
      |   |            /    (____   |   |________/|   
      |   |           /          |  |             |   
      |___|          |___________|  |_____________|

      Hi, Thanks for checking our source code! :)        
  -->

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="We Bring Your Ideas to Life | PSD to Live">
    <meta name="keywords" content="PSD to HTML, PSD2HTML, PSD to Website, PSD to Code, Design to Code, HTML 5, CSS 3, Wordpress, JavaScript, NodeJS, Web Application">
    <meta name="theme-color" content="#6acad8">
    <title>P2L | Create an Account</title>
    <link rel="canonical" href="https://www.psd2live.com" />
    <link rel="alternate" href="https://www.psd2live.com" hreflang="en" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
</head>

<body>
    <div class="user-sign-page">
        <a href="#" class="backtohome"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to PSD2Live Home</a>
        <h2>Create an Account</h2>
        <div class="container user-sign-container">
            <div class="row no-gutters">
                <div class="col-12 col-md-6 left">
                    <div class="logo"></div>
                    <span class="sign-des">Please enter 4 digits PIN we just sent to your email</span>
                    <div class="pin-input">
                        <input type="text" maxlength="4" />
                    </div>
                    <button class="sign-btn red">Verify &amp; Continue <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    <span class="sign-suggest red">Didn't recieve the code? <span>Re-send Code</span></span>
                </div>
                <div class="col-12 col-md-6 right bg-2">
                    <h3>What is Lorem Ipsum?</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <ul class="sign-nav">
        	<li><a href="#">HOME</a></li>
        	<li><a href="#">How it works</a></li>
        	<li><a href="#">Services</a></li>
        	<li><a href="#">Projects</a></li>
        	<li><a href="#">Blog</a></li>
        	<li><a href="#">ORDER NOW</a></li>
        </ul>
    </div>
</body>

</html>