<div class="sidebar-content">
    <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
        <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">
                <!-- Main -->
                <li ui-sref-active="active" class="navigation-header"><span>Main Menu</span> <i class="icon-menu" title="Main pages"></i></li>
                <li ui-sref-active="active"><a ui-sref="admin-dashboard"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                <li>
                    <a href="#"><i class="icon-users"></i> <span>Manage Users</span></a>
                    <ul>
                        <li ui-sref-active="active"><a ui-sref="admin-user-groups">User Groups</a></li>
                        <li ui-sref-active="active"><a ui-sref="admin-users">Users</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="icon-menu6"></i> <span>Manage Packages</span></a>
                    <ul>
                        <li ui-sref-active="active"><a ui-sref="admin-feature-categories">Feature Categories</a></li>
                        <li ui-sref-active="active"><a ui-sref="admin-features">Features</a></li>
                        <li ui-sref-active="active"><a ui-sref="admin-package-options">Package Options</a></li>
                        <li ui-sref-active="active"><a ui-sref="admin-packages">Packages</a></li>
                    </ul>
                </li>
                <li ui-sref-active="active"><a ui-sref="user-settings"><i class="icon-cart2"></i> <span>Orders</span></a></li>
                <li ui-sref-active="active"><a ui-sref="user-settings"><i class=" icon-code"></i> <span>Projects</span></a></li>
                <li ui-sref-active="active"><a ui-sref="user-settings"><i class=" icon-coin-dollar"></i> <span>Invoices</span></a></li>
                <li ui-sref-active="active"><a ui-sref="user-settings"><i class="icon-cog"></i> <span>Settings</span></a></li>
                <li ui-sref-active="active"><a class="text-danger" ui-sref="home"><i class="icon-switch2"></i> <span>Logout</span></a></li>
            </ul>
        </div>
    </div>
</div>