<div class="sidebar-content">
    <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
        <div class="category-content no-padding">
            <ul class="navigation navigation-main navigation-accordion">
                <!-- Main -->
                <li ui-sref-active="active" class="navigation-header"><span>Main Menu</span> <i class="icon-menu" title="Main pages"></i></li>
                <li ui-sref-active="active"><a ui-sref="user-dashboard"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
                <li ui-sref-active="active"><a ui-sref="user-projects"><i class="icon-list3"></i> <span>My Projects</span></a></li>
                <li ui-sref-active="active"><a ui-sref="user-messages"><i class="icon-bubble9"></i> <span>Message</span></a></li>
                <li ui-sref-active="active"><a ui-sref="user-payments"><i class="icon-credit-card"></i> <span>Payments</span></a></li>
                <li ui-sref-active="active"><a ui-sref="user-settings"><i class="icon-cog"></i> <span>Settings</span></a></li>
                <li ui-sref-active="active"><a ui-sref="user-profile"><i class="icon-user"></i> <span>Profile</span></a></li>
                <li ui-sref-active="active"><a class="text-danger" ui-sref="home"><i class="icon-switch2"></i> <span>Logout</span></a></li>
            </ul>
        </div>
    </div>
</div>