<a href="http://psd2live.com" title="PSD2LIVE">
    <div class="logow"></div>
</a>
<ul class="nav justify-content-center social">
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </li>
</ul>
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" ui-sref="terms-of-service">Terms of Service</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref="privacy-policy">Privacy Policy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref="faq">FAQ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref="about-us">About Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref="contact-us">Contact Us</a>
    </li>
</ul>
<span class="copyright">Psd2live.com. 2017, All Rights Reserved.</span>