<a ui-sref="home" title="PSD2LIVE">
    <div class="logo"></div>
</a>
<nav class="navbar navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="clients-area">
                <a ui-sref="user-login"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Clients Area</a>
            </li>
            <li>
                <a ui-sref="how-it-works">How it works</a>
            </li>
            <li>
                <a ui-sref="services">Services</a>
            </li>
            <li>
                <a ui-sref="projects">Projects</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a ui-sref="step-1">ORDER NOW</a>
            </li>
        </ul>
    </div>
</nav>