<div ui-sref-active="active" class="step-nav" ui-sref="step-1">
    <span class="number">1</span>
    <span class="title">Get Started</span>
</div>
<div ui-sref-active="active" class="step-nav" ui-sref="step-2">
    <span class="number">2</span>
    <span class="title">Choose a Package</span>
</div>
<div ui-sref-active="active" class="step-nav" ui-sref="step-3">
    <span class="number">3</span>
    <span class="title">Upload Your Files</span>
</div>
<div ui-sref-active="active" class="step-nav" ui-sref="step-4">
    <span class="number">4</span>
    <span class="title">Confirm & Finish</span>
</div>