<div class="container-fluid">
    <div class="steps">
        <div class="container">
            <div class="steps-static">
                <h2>Submit Your Project in <span>4</span> Simple Steps</h2>
                <div class="steps-nav" steps-navigation></div>
            </div>
            <div class="step-1">
                <h3>Please Choose an Option:</h3>
                <label class="custom-control custom-radio">
                    <input id="radio1" name="radio" type="radio" class="custom-control-input" />
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">I’d Like PSD2LIVE to Design My Website From Scratch</span>
                </label>
                <label class="custom-control custom-radio">
                    <input id="radio2" name="radio" type="radio" class="custom-control-input" checked />
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">I Already Have My Designs Ready</span>
                </label>
                <div class="btn btn-cyan">Next</div>
                <div class="request">
                    <div class="form-content">
                        <form>
                            <div class="form-group name">
                                <input class="col-12" type="text" placeholder="Name" />
                            </div>
                            <div class="form-group email">
                                <input class="col-12" type="text" placeholder="Email" />
                            </div>
                            <div class="form-group file">
                                <input type="file" />
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                                <span>Upload Files</span>
                            </div>
                            <div class="form-group notes">
                                <textarea class="col-12" placeholder="Tell us about your project"></textarea>
                            </div>
                            <input class="col-12" type="submit" value="Request a quote" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>