<div class="container-fluid">
    <div class="steps">
        <div class="container">
            <div class="steps-static">
                                <div class="steps-nav" steps-navigation></div>

            </div>
            <div class="step-3">
                <div class="uploadarea">
                    <div class="upload-image"></div>
                    <span class="upload-title hidden-md-down">Drag &amp; Drop Your Files Here</span>
                    <span class="upload-des">Supperted file types are : <span class="text-uppercase">jpg, png, ai, psd, eps, zip</span></span>
                    <div class="upload-des">
                        <span class="hidden-md-down">or</span>
                        <div class="underline">browse your files
                            <input type="file" />
                        </div>
                    </div>
                    <div class="row justify-content-center no-gutters">
                        <div class="btn-clouds dropbox"></div>
                        <div class="btn-clouds gdrive"></div>
                    </div>
                </div>
                <div class="row no-gutters mt-5">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="email" class="form-control px-4 py-3" placeholder="Enter Contact Email Address" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 pr-sm-2">
                        <div class="form-group">
                            <input type="number" class="form-control px-4 py-3" placeholder="Number of Pages" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 pl-sm-2">
                        <div class="form-group">
                            <select class="form-control px-4">
                                <option disabled selected>Prefered Delivery Period</option>
                                <option>Normal Delivery</option>
                                <option>Urgent Delivery (Costs 50% More)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control px-4 py-3" rows="10" placeholder="Notes / Project Brief"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="mr-1 btn">Back</div>
                    <div class="ml-1 btn btn-cyan">Next</div>
                </div>
            </div>
        </div>
                <a class="steps-back-to-home" ui-sref="home"><i class="fas fa-chevron-left"></i> Back To PSD2Live Home</a>

    </div>
</div>