<div class="container-fluid">
    <div class="steps">
        <div class="container">
            <div class="steps-static">
                                <div class="steps-nav" steps-navigation></div>

            </div>
            <div class="step-2 packages no-gutters">
                <h3>Please Choose a Package:</h3>
                <div class="btn btn-red" ui-sref="step-2-b">Build your own package</div>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-4 package">
                        <div class="price mx-auto">
                            <span class="pre">Starting From</span>
                            <p>$<span>49</span></p>
                        </div>
                        <h4 class="package-name">Basic</h4>
                        <ul class="package-options">
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li class="disable">Lorem Ipsum is simply dummy text</li>
                            <li class="disable">Lorem Ipsum is simply dummy text</li>
                            <li class="disable">Lorem Ipsum is simply dummy text</li>
                        </ul>
                        <a ng-click="choosePackage('basic');" href="#" class="startnow">Choose Plan</a>
                    </div>
                    <div class="col-12 col-md-4 package">
                        <div class="price mx-auto">
                            <span class="pre">Starting From</span>
                            <p>$<span>79</span></p>
                        </div>
                        <h4 class="package-name">Premium</h4>
                        <ul class="package-options">
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li class="disable">Lorem Ipsum is simply dummy text</li>
                            <li class="disable">Lorem Ipsum is simply dummy text</li>
                        </ul>
                        <a ng-click="choosePackage('premium');" href="#" class="startnow">Choose Plan</a>
                    </div>
                    <div class="col-12 col-md-4 package">
                        <div class="price mx-auto">
                            <span class="pre">Starting From</span>
                            <p>$<span>99</span></p>
                        </div>
                        <h4 class="package-name">Ultimate</h4>
                        <ul class="package-options">
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li>Lorem Ipsum is simply dummy text</li>
                            <li>Lorem Ipsum is simply dummy text</li>
                        </ul>
                        <a ng-click="choosePackage('ultimate');" href="#" class="startnow">Choose Plan</a>
                    </div>
                </div>
                <h4>None of the Packages above fits your project?</h4>
                <div class="btn btn-red btn-nm" ui-sref="step-2-b">Build your own package</div>.
            </div>
        </div>
                <a class="steps-back-to-home" ui-sref="home"><i class="fas fa-chevron-left"></i> Back To PSD2Live Home</a>

    </div>
</div>