<div class="container-fluid">
    <div class="steps">
        <div class="container">
            <div class="steps-static">
                <h2>Submit Your Project in <span>4</span> Simple Steps</h2>
                                <div class="steps-nav" steps-navigation></div>

            </div>
            <div class="step-4">
                <h3>One Last Step</h3>
                <span class="pin-des">Please enter 4 digits PIN we just sent to <span>yzmamo@gmail.com</span></span>
                <div class="pin">
                    <input type="number" />
                </div>
                <input type="submit" value="Confirm &amp; Finish" />
                <span class="resend">Didn't recieve the code? <span>Re-send Code</span></span>
            </div>
        </div>
    </div>
</div>